
.cont-scale {
    width: 640px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cont-scale .scale{
    position: absolute;
    z-index: 1;
    width: 640px;
    height: 400px;
}

.cont-scale .fixed-arrow{
    position: absolute;
    width: 245px;
    height: 50px;
    bottom: 12.2%;
    left: 50%;
    z-index: 2;
}

.cont-scale .loose-arrow{
    position: absolute;
    width: 245px;
    height: 50px;
    bottom: 12.6%;
    left: 50%;
    z-index: 2;
    transform-origin: 0%;
}

.cont-scale .fixed-letter{
    position: absolute;
    bottom: 13%;
    right: -5%;
}

.cont-scale .center-letter{
    position: absolute;
    bottom: 9%;
    right: 48.5%;
}

.cont-scale .loose-letter{
    position: absolute;
}

.cont-scale .img-scale img{
    width: 38%;
}



.cont-scale .img-scale .loose-arrow{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform-origin: 0% 50%;
}

.validate {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 100%;
    height: 20%;
}

.validate-btn {
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 1.5rem;
    border: 3px groove green;
    border-radius: 10px;
    cursor: pointer;
}

.inputs {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs .angle-name{
    width: 300px;
    height: 30px;
    margin: 35px;
    padding: 5px;
    border: 4px groove blue;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 900;
}

.inputs .angle-type{
    width: 315px;
    height: 48px;
    border: 4px groove blue;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 900;
}

.inputs .angle-measure{
    width: 300px;
    height: 30px;
    margin: 35px;
    padding: 5px;
    border: 4px groove blue;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 900;
}
